@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Welcome to <spam class="text-danger">Coding Droplets</spam></h2>
    </div>
    <div class="card">
        <div class="card-body">
            <AuthorizeView>
                <NotAuthorized>
                    <spam>You are not logged in. Please <a class="fw-bolder" href="/login">click here</a> to login.</spam>
                </NotAuthorized>

                <Authorized>
                    <spam>Logged in as <b>@context.User.Identity.Name</b>. <a class="fw-bolder" href="/logout"></a> to logout.</spam>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</div>
